<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Flask-MQTT example</title>
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='assets/img/apple-icon.png') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
        <meta name="description" content="">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <!-- CSS Files -->
        <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='assets/css/now-ui-dashboard.css') }}" rel="stylesheet">
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="{{ url_for('static', filename='assets/demo/demo.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
        <!-- /container -->        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"><\/script>')</script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/statusMain.js') }}"></script>
        <!--   Core JS Files   -->
        <script src="{{ url_for('static', filename='assets/js/core/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/core/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/core/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
        <!-- Chart JS -->
        <script src="{{ url_for('static', filename='assets/js/plugins/chartjs.min.js') }}"></script>
        <!--  Notifications Plugin    -->
        <script src="{{ url_for('static', filename='assets/js/plugins/bootstrap-notify.js') }}"></script>
        <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="{{ url_for('static', filename='assets/js/now-ui-dashboard.js') }}"></script>
        <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
        <script src="{{ url_for('static', filename='assets/demo/demo.js') }}"></script>
        <script>
            $(document).ready(function() {
                // Javascript method's body can be found in assets/js/demos.js
                demo.initDashboardPageCharts();
            });
            function updateDataGraph(testData){
                console.log("Dato prueba on: ");
                demo.updateDataGraph(testData);
            };
            function limpiar() {
                console.log("Limpiando");
                //document.getElementById("subscribe_messages").value = " ";
                $('#subscribe_messages').val(' ');
            };
            function isNumberKey(evt){
                var charCode = (evt.which) ? evt.which : event.keyCode
                if (charCode > 31 && (charCode < 48 || charCode > 57))
                    return false;
                return true;
            };
            function tempStatusCheck() {
                console.log("Actualizando Status Graph.");
                var tempCheck = document.getElementById("statusTemp").innerHTML;
                demo.updateDataGraph(tempCheck);
            }
            
        </script>
    </head>
    
    <body>
        <div class="wrapper ">
            <!-- SideBar Menu-->
            <div class="sidebar" data-color="blue">
                <!--
                    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
                    -->
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                    Innovation Electronics Lab.
                    </a>
                </div>
                <div class="sidebar-wrapper">
                    <ul class="nav">
                        <li class="active">
                            <a href="#dashboard">
                                <i class="now-ui-icons design_app"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li>
                            <a href="#subscribirse">
                                <i class="now-ui-icons education_atom"></i>
                                <p>Subscribirse</p>
                            </a>
                        </li>
                        <li>
                            <a href="#comportamiento">
                                <i class="now-ui-icons ui-1_bell-53"></i>
                                <p>Comportamiento</p>
                            </a>
                        </li>
                        <li>
                            <a href="#manual">
                                <i class="now-ui-icons design_bullet-list-67"></i>
                                <p>Manual</p>
                            </a>
                        </li>
                        <li>
                            <a href="#alarmas">
                                <i class="now-ui-icons text_caps-small"></i>
                                <p>Crear Alarmas</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End SideBar Menu-->

            <div class="main-panel">
                <!-- Navbar Upper-->
                <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <div class="navbar-toggle">
                                <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                                </button>
                            </div>
                            <a class="navbar-brand" href="#pablo">Dashboard</a>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navigation">
                            <form>
                                <div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="Search...">
                                    <span class="input-group-addon">
                                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                                    </span>
                                </div>
                            </form>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#pablo">
                                        <i class="now-ui-icons media-2_sound-wave"></i>
                                        <p>
                                            <span class="d-lg-none d-md-block">Stats</span>
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="now-ui-icons location_world"></i>
                                        <p>
                                            <span class="d-lg-none d-md-block">Some Actions</span>
                                        </p>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#pablo">
                                        <i class="now-ui-icons users_single-02"></i>
                                        <p>
                                            <span class="d-lg-none d-md-block">Account</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar Upper-->

                <!-- Dashboard graphics -->
                <section id="dashboard"></section>
                <div class="panel-header panel-header-lg">
                    <canvas id="bigDashboardChart"></canvas>
                </div>
                <!-- End Dashboard graphics-->

                <div class="content">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card card-chart">
                                <div class="card-header">
                                    <h5 class="card-category">Global Sales</h5>
                                    <h4 class="card-title">Shipped Products</h4>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                                        <i class="now-ui-icons loader_gear"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="lineChartExample"></canvas>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card card-chart">
                                <div class="card-header">
                                    <h5 class="card-category">2018 Sales</h5>
                                    <h4 class="card-title">All products</h4>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                                        <i class="now-ui-icons loader_gear"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                            <a class="dropdown-item text-danger" href="#">Remove Data</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="lineChartExampleWithNumbersAndGrid"></canvas>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card card-chart">
                                <div class="card-header">
                                    <h5 class="card-category">Email Statistics</h5>
                                    <h4 class="card-title">24 Hours Performance</h4>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="barChartSimpleGradientsNumbers"></canvas>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-tasks">
                                <div class="card-header">
                                    <h5 class="card-category">Backend development</h5>
                                    <h4 class="card-title">Tasks</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-full-width table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" checked="">
                                                            <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-left">Sign contract for "What are conference organizers afraid of?"</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox">
                                                            <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-left">Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" checked="">
                                                            <span class="form-check-sign"></span>
                                                            </label>
                                                        </div>
                                                    </td>
                                                    <td class="text-left">Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                    </td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                                        </button>
                                                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <hr>
                                    <div class="stats">
                                        <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-category">All Persons List</h5>
                                    <h4 class="card-title"> Employees Stats</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class=" text-primary">
                                                <tr>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Country
                                                    </th>
                                                    <th>
                                                        City
                                                    </th>
                                                    <th class="text-right">
                                                        Salary
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Dakota Rice
                                                    </td>
                                                    <td>
                                                        Niger
                                                    </td>
                                                    <td>
                                                        Oud-Turnhout
                                                    </td>
                                                    <td class="text-right">
                                                        $36,738
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Minerva Hooper
                                                    </td>
                                                    <td>
                                                        Curaçao
                                                    </td>
                                                    <td>
                                                        Sinaai-Waas
                                                    </td>
                                                    <td class="text-right">
                                                        $23,789
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Sage Rodriguez
                                                    </td>
                                                    <td>
                                                        Netherlands
                                                    </td>
                                                    <td>
                                                        Baileux
                                                    </td>
                                                    <td class="text-right">
                                                        $56,142
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Doris Greene
                                                    </td>
                                                    <td>
                                                        Malawi
                                                    </td>
                                                    <td>
                                                        Feldkirchen in Kärnten
                                                    </td>
                                                    <td class="text-right">
                                                        $63,542
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Mason Porter
                                                    </td>
                                                    <td>
                                                        Chile
                                                    </td>
                                                    <td>
                                                        Gloucester
                                                    </td>
                                                    <td class="text-right">
                                                        $78,615
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Comportamiento de la Data -->
                    <section id="comportamiento"></section>
                    <div class="row">
                            <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-category">Comportamiento</h5>
                                            <h4 class="card-title"> Comportamiento de la Data Manual</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="text-primary">
                                                        <tr>
                                                            <th class="text-left">
                                                                Check
                                                            </th>
                                                            <th class="text-left">
                                                                Alarma
                                                            </th>                                                    
                                                            <th class="text-right">
                                                                Status
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="text-left">
                                                            <td class="text-left">
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                    <input id="checkSuperior" class="form-check-input" type="checkbox" unchecked>
                                                                    <span class="form-check-sign"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td class="text-left">Generar Alarmas de Temperatura Superior</td>
                                                            <td class="td-actions text-right">
                                                                <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                                                <i class="now-ui-icons ui-2_settings-90"></i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                                                <i class="now-ui-icons ui-1_simple-remove"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr  class="text-left">
                                                            <td>
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                    <input id="checkInferior" class="form-check-input" type="checkbox" unchecked>
                                                                    <span class="form-check-sign"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td class="text-left">Generar Alarmas de Temperatura Inferior</td>
                                                            <td class="td-actions text-right">
                                                                <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                                                <i class="now-ui-icons ui-2_settings-90"></i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                                                <i class="now-ui-icons ui-1_simple-remove"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr class="text-left">
                                                            <td>
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                    <input id="checkComm" class="form-check-input" type="checkbox" unchecked>
                                                                    <span class="form-check-sign"></span>
                                                                    </label>
                                                                </div>
                                                            </td>
                                                            <td class="text-left">Generar Alarmas de Comunicacion</td>
                                                            <td class="td-actions text-right">
                                                                <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                                                <i class="now-ui-icons ui-2_settings-90"></i>
                                                                </button>
                                                                <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                                                <i class="now-ui-icons ui-1_simple-remove"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                        <tr class="text-center">
                                                            <td class="text-left">
                                                                <form class="form-horizontal">
                                                                    <div class="form-group" align="left">
                                                                        <label class="control-label col-xs-4">Umbral Inferior</label>
                                                                        <div class="col-xs-8">
                                                                            <input id="tempInferior" class="form-control" type="number" value="20" onkeypress="return isNumberKey(event)" step="5">
                                                                        </div>
                                                                    </div>
                                                                </form>   
                                                            </td>
                                                            <td class="text-left">
                                                                <form class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-4">Umbral Superior</label>
                                                                        <div class="col-xs-8">
                                                                            <input id="tempSuperior" class="form-control" type="number" value="60" onkeypress="return isNumberKey(event)" step="5">
                                                                        </div>
                                                                    </div>
                                                                </form>  
                                                            </td>
                                                            <td class="text-left">
                                                                <form class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-4">Frecuecia Mensajes (ms)</label>
                                                                        <div class="col-xs-8">
                                                                            <input id="frecMensajes" class="form-control" type="number" value="1000" onkeypress="return isNumberKey(event)" step="1000">
                                                                        </div>
                                                                    </div>
                                                                </form>  
                                                            </td>
                                                                
                                                        </tr>                                        
                                                        <tr class="text-center">  
                                                            <td colspan="1" class="text-center">
                                                                <div class="form-group">
                                                                    <div class="col-xs-4">
                                                                        <label id="statusTemp" onchange="tempStatusCheck();" class="input-group-addon control-label col-xs-12">ds fC</label>
                                                                    </div>
                                                                </div> 
                                                            </td>  
                                                            <td colspan="2" class="text-center">
                                                                <div class="form-group">
                                                                    <div class="col-xs-8">
                                                                        <button id="generar" class="btn btn-primary">Generar</button>
                                                                        <button id="detener" class="btn btn-default" style="display: none;">Detener</button>
                                                                    </div>
                                                                </div> 
                                                            </td>                                                                                                                            
                                                        </tr>
                                                        <tr class="text-left">
                                                            <td colspan="3" class="text-left col-xs-12">  
                                                                <form class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-2">MAC:    </label>
                                                                        <div class="col-xs-10">
                                                                            <input id="mac" class="form-control" type="text">
                                                                        </div>
                                                                    </div>
                                                                </form>     
                                                            </td>                                                                                                                         
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <!-- End Comportamiento de la Data -->

                    <!-- Manual MQTT message -->
                    <section id="manual"></section>
                    <div class="row">
                            <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-category">Temperatura</h5>
                                            <h4 class="card-title"> Configuración Manual</h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead class="text-primary">
                                                        <tr>
                                                            <th class="text-center">
                                                                Temperatura
                                                            </th>
                                                            <th class="text-center">
                                                                Peak to Peak
                                                            </th>
                                                            <th class="text-center">
                                                                Acelerómetro d
                                                            </th>
                                                            <th class="text-center">
                                                                Acelerómetro k
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-left">
                                                                <form class="form-horizontal">
                                                                    <div class="form-group" align="left">
                                                                        <label class="control-label col-xs-3">T:</label>
                                                                        <div class="col-xs-8">
                                                                            <input id="temperatura" class="form-control"  type="number" value="25" step="5">
                                                                        </div>
                                                                    </div>
                                                                </form>   
                                                            </td>
                                                            <td class="text-left">
                                                                <form class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-4">PP:</label>
                                                                        <div class="col-xs-8">
                                                                            <input id="peaktopeak" class="form-control"  type="number" value="200" step="10">
                                                                        </div>
                                                                    </div>
                                                                </form>  
                                                            </td>
                                                            <td class="text-center">
                                                                <form class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-4">dX:</label>
                                                                        <div class="col-xs-8">
                                                                            <input id="dX" class="form-control"  type="number" value="1.0" step="0.1">
                                                                        </div>
                                                                    </div>
                                                                </form>   
                                                            </td>
                                                            <td class="text-center">
                                                                <form class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-4">kX:</label>
                                                                        <div class="col-xs-8">
                                                                            <input id="kX" class="form-control"  type="number" value="-1.0" step="0.1">
                                                                        </div>
                                                                    </div>
                                                                </form>    
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                    
                                                            </td>
                                                            <td>
                                                                     
                                                            </td>
                                                            <td class="text-center">
                                                                <form class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-4">dY:</label>
                                                                        <div class="col-xs-8">
                                                                            <input id="dY" class="form-control"  type="number" value="1.0" step="0.1">
                                                                        </div>
                                                                    </div>
                                                                </form>   
                                                            </td>
                                                            <td class="text-center">
                                                                <form class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-4">kY:</label>
                                                                        <div class="col-xs-8">
                                                                            <input id="kY" class="form-control"  type="number" value="-1.0" step="0.1">
                                                                        </div>
                                                                    </div>
                                                                </form>    
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                
                                                            </td>
                                                            <td>
                                                                
                                                            </td>
                                                            <td class="text-center">
                                                                <form class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-4">dZ:</label>
                                                                        <div class="col-xs-8">
                                                                            <input id="dZ" class="form-control"  type="number" value="1.0" step="0.1">
                                                                        </div>
                                                                    </div>
                                                                </form>  
                                                            </td>
                                                            <td class="text-center">
                                                                <form class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-4">kZ:</label>
                                                                        <div class="col-xs-8">
                                                                            <input id="kZ" class="form-control"  type="number" value="-1.0" step="0.1">
                                                                        </div>
                                                                    </div>
                                                                </form>   
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group" align="left">
                                                                    <div class="col-xs-8 col-xs">                                                                        
                                                                        <button id="mqttManual" onclick="updateDataGraph($('#temperatura').val())" class="btn btn-primary">Enviar MQTT</button>
                                                                    </div>
                                                                </div>    
                                                            </td>
                                                            <td>                                                                
                                                            </td>
                                                            <td>                                                                
                                                            </td>
                                                            <td>                                                                
                                                            </td>   
                                                                
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <!-- End Manual MQTT message -->
                    
                    
                    
                </div>
                
                <!-- Subscribirse MQTT -->
                <section id="subscribirse"></section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Subscribirse</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Publish MQTT Message</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="form-horizontal col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2">Topic: </label>
                                                    <div class="col-xs-10">
                                                        <input id="topic" class="form-control" value="test">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2">Message: </label>
                                                    <div class="col-xs-10">
                                                        <input id="message" class="form-control" value="Mensaje Test">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2">Qos: </label>
                                                    <div class="col-xs-10">
                                                        <select id="qos" class="form-control">
                                                            <option selected="selected" value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-8 col-xs-offset-4">
                                                        <button id="publish" class="btn btn-primary">Publish</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Subscribe MQTT Messages</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="form-horizontal col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2">Topic:</label>
                                                    <div class="col-xs-10">
                                                        <input id="subscribe_topic" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2">Qos: </label>
                                                    <div class="col-xs-10">
                                                        <select id="subscribe_qos" class="form-control">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-xs-8 col-xs-offset-4">
                                                        <button id="subscribe" class="btn btn-primary">Subscribe</button>
                                                        <button id="unsubscribe" class="btn btn-default" style="display: none;">Unsubscribe</button>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2">Messages:</label>
                                                    <div class="col-xs-10">
                                                        <textarea id="subscribe_messages" class="form-control" rows="200">
                                                        </textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group text-right">
                                                    <div class="col-xs-12">
                                                        <!--  <button id="limpiar" onclick="javascript: limpiar();" class="btn btn-primary">Limpiar</button>     -->
                                                        <button id="limpiar" onclick="document.getElementById('subscribe_messages').value = ''" class="btn btn-primary">Limpiar</button>                                                    
                                                    </div>
                                                </div>                                                 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Subscribirse MQTT -->

                <!-- Footer -->
                <footer class="footer">
                    <div class="container-fluid">
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://www.creative-tim.com">
                                    Rivet Innovation Electronics Labs.
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>, Diseñado por 
                            <a href="https://www.Andres.r.Oyarce.com" target="_blank">Andres Oyarce</a>.
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->
            </div>
        </div>
    </body>
</html>
